<!DOCTYPE html>
<html ng-app="beefNoteNgApp">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="js/BN.js"></script>
    <script src="js/BN.DB.js"></script>
    <script src="js/BN.CFG.js"></script>
    <script src="js/BN.GUI.js"></script>
    <script type="text/javascript" src="lib/angular.1.4.3.min.js"></script>

    <script type="text/ng-template" id="sideBarEntryTpl">
    {{item.name}}
    <ul ng-if="item.isDirectory">
        <li ng-repeat="item in item.tree.items" ng-include="'sideBarEntryTpl'" ng-click="">
        </li>
    </ul>
    </script>

  </head>
  <body>
    <div id="BN-container">
      <div id="BN-sidebar" ng-controller="sideBarController">
        <h1>BeefNote</h1>
        <ul>
            <li ng-repeat="item in dirTree.items" ng-include="'sideBarEntryTpl'" ng-click="">
            </li>
        </ul>
      </div>
      <div id="BN-splitbar"></div>
      <div id="BN-content">
        <textarea id="BN-textarea">Welcome to BeefNote.

    Feel free to edit this text. This panel is where you edit content of your notes.

    Left panel shows all your notes organized in folders. Each note/folder is physically represented by a file/folder on the disk. Click any note to instantly edit it. Once you open another note, your changes are saved automatically. All your notes are stored in 'notebook' folder in the root folder of the application.

    Please note this is a work in progress. Many features you would expect from app like this are still missing.

    If you encounter a bug, use F5 to reload application. Might help in some situations.</textarea>
      </div>
    </div>
  </body>
</html>
